/* variables */
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

:root {
  --gold-color: rgb(229, 184, 11); /*Pure Gold   use :  var(--gold-color); */
}

* {
  font-family: "Cairo", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;

  background: linear-gradient(
    55deg,
    rgba(2, 0, 36, 0.7) 0%,
    rgba(0, 0, 106, 0.5) 23%,
    rgba(5, 35, 61, 0.7) 100%
  );
  min-height: 100vh;
}
header {
  width: 100vw;
  padding: 1rem;
  text-align: center;
}

/* Section Logo */
#logo-start {
  background: none;
}

#logo-start button {
  /* background-color: blue; */
  background: rgb(2, 0, 36);
}

/* Section Game */
.game {
  display: flex;
  margin: 0.1rem;
  justify-content: stretch;
  align-items: stretch;
  /* flex-wrap: wrap; */
  flex-direction: column;
  flex-grow: 1;
}

.game * {
  display: flex;
  margin: 0.1rem;
}

.game > div {
  /* justify-content: center; */
  margin: 0.2rem;
  align-content: space-between;
  align-items: stretch;
  justify-content: space-evenly;
  justify-items: flex-end;
}

.card {
  /* justify-content: center; */
  flex-direction: column-reverse;
  justify-items: center;
  align-content: space-between;
  align-items: center;
}
.card img {
  width: 10vw;
}

.card-deck {
  width: 40vw;
  justify-content: space-around;
}

#choices .hidden,
.hidden {
  /* visibility: hidden; */
  display: none; /*!important*/
}

/*treasure */
.treasure {
  width: 33%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .tresure * {
  align-content: flex-start;
  justify-content: flex-start;
} */

/* Section Log : */

/* Section Choices */

#choices {
  flex-grow: 1;
  justify-content: stretch;
  align-items: stretch;
}
#choices * {
  display: flex;
  justify-content: center;
}
.choices-list {
  /* border-radius: 30%;
  background-color: brown;
  width: 10vw;
  height: 10vw; */
  opacity: 10;
  position: fixed;
  width: 0;
}

.choice-label {
  display: inline-block;
  background-color: rgb(122, 48, 48);
  /* padding: 10px 20px; */
  /* font-family: sans-serif, Arial;
  font-size: 16px; */
  border: 2px solid #b56a6a;
  border-radius: 4px;
  width: 90%;
}
.choice-labelhover:hover {
  /* Effect of the pointer*/
  text-shadow: 2px 2px 2px rgb(0, 6, 71);
  color: rgb(156, 208, 254);
}

.choices-list:checked + label {
  /* sibling elements : for checked radio button add property to next label*/
  background-color: rgba(232, 67, 210, 0.593);
  border-color: rgb(78, 74, 109);
}

/* .choices-list:focus + label { */
/* sibling elements : for focus radio button add property to next label*/
/* border: 3px solid rgb(255, 132, 0); */
/* background-color: rgb(122, 48, 48); */
/* } */

#next button {
  background: rgba(59, 56, 107, 0.822);
  width: 10rem;
  justify-content: center;
  border-radius: 0%;
  padding: 0.5em;
  margin-top: 1em;
}
#next button:hover {
  background: rgb(59, 56, 107);
  box-shadow: 0 0 1em 0.5em rgb(163, 160, 212);
}

.card-hover:hover {
  background: rgb(59, 56, 107);
  box-shadow: 0 0 1em 0.5em rgb(163, 160, 212);
}

.card-killed {
  /* filter: blur(0.1px) grayscale(1) hue-rotate(90deg); */
  filter: grayscale(100%) brightness(35%) sepia(100%) hue-rotate(310deg)
    saturate(500%) contrast(0.8);
}

.disabled {
  background: rgba(71, 68, 114, 0.174);
}

/* Credits */
footer {
  width: 100vw;
  padding: 1rem;
}
